 <% layout("/layouts/boilerplate") %>
<body>
    <br> <br>
    <div class="row"> 
        <div class="col-8 offset-2"> 
    <h3>ADD NEW LISTING</h3> 
    <form method="post" action="/listings"  class="needs-validation" >   

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
    <input type="text" name="listing[title]" id="title" placeholder="Enter title" class="form-control" required>
    <div class="valid-feedback">Title is good</div>    
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea> 
    </div>
    <div>
        <label for="image" class="form-label">Image</label>
        <input name="listing[image]" placeholder="image URL/Link" class="form-control">
    </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input  type="number" name="listing[price]" placeholder="Enter price" class="form-control" required>
        </div>
    
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>   
            <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
        </div>
        
    </div>
    
     <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
    </div>
    
<button class="button">Submit</button>
</form>
<script src="/js/script.js"></script>
</div>
</div>
</body>